<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>@ViewData["Title"] - aspnetcoreapp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker3.css" asp-append-version="true" />
    <link href="~/js/select2/select2-1.0.1.css" rel="stylesheet" />
    <link href="~/js/select2/select2-bootstrap-1.0.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <style>
      .sidebar.sidebar-modify {
        position: relative;
        padding-top: 0px;
      } 
    </style>
</head> 
<body>
    <nav class="header navbar navbar-dark fixed-top1 bg-dark flex-md-nowrap1 p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a> 
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-1 d-none d-md-block bg-light sidebar sidebar-modify">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-page="/Company">
                  <span data-feather="home"></span>
                  Company
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-page="/Category">
                  <span data-feather="home"></span>
                  Category
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-page="/Portfolio">
                  <span data-feather="home"></span>
                  Portfolio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-page="/Investments">
                  <span data-feather="home"></span>
                  Investments
                </a>
              </li>
              @* <li class="nav-item">
                 <a class="nav-link" asp-page="/SplitCheck">
                  <span data-feather="file"></span>
                  Split Check
                </a>
              </li> *@
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                 <a class="nav-link" asp-page="/Monthly">
                  <span data-feather="file"></span>
                  Monthly
                </a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" asp-page="/Average">
                  <span data-feather="file"></span>
                  Average
                </a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" asp-page="/CAGR">
                  <span data-feather="file"></span>
                  CAGR
                </a>
              </li>
              <!--<li class="nav-item">
                 <a class="nav-link" asp-page="/LongTerm">
                  <span data-feather="file"></span>
                  Long Term
                </a>
              </li>-->
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-11 ml2-sm-auto col-lg-11 px1-4">
          @RenderBody()
        </main>
      </div>
    </div>
    <div class="loading-ajax" style="position:fixed;z-index:99999;background-color:yellow;color:black;width:100x;top:0px;left:50%;padding:8px;border-radius:5px;display:none;">Loading...</div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.tmpl.min.js"></script>
    <script src="~/js/jquery.twbsPagination.js"></script>
    <script src="~/js/string-helper-1.0.js"></script>
    <script src="~/js/accounting-0.2.js"></script>
    <script src="~/js/moment.min-2.10.3.js"></script>
    <script src="~/js/FlexGrid2.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/js/select2/select2.min-1.0.js" asp-append-version="true"></script>
    <script src="~/js/jquery.stickytableheaders.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
      $(function(){
        $(document).ajaxStart(function() {
            $('.loading-ajax').show(); 
        });
        $(document).ajaxStop(function() {
            $('.loading-ajax').hide();
        }).ajaxError(function() {
            $('.loading-ajax').hide();
        });
      });
    </script>
    @RenderSection("Scripts", required: false)
  </body>
</html>
