#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
.svn*/
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
[Ff]iles/DealDocuments*/
[Ff]iles/EntityLogo*/
[Ff]iles/FundDocuments*/
[Ff]iles/InvestorDocuments*/
[Ff]iles/[Ll]ogin*/
[Ff]iles/[Tt]emp*/
[Ff]iles/FundActivityDocuments*/
_ReSharper*/
[Tt]est[Rr]esult*
_vti_cnf
.DS_Store
*.testsettings
*.vsmdi
/Files/UnderlyingFundDocuments/2/3532
/Files/UnderlyingFundDocuments/2/3550
/Files/UnderlyingFundDocuments/2/3737
/Files/UnderlyingFundDocuments/2/4302
/Files
