@page
@{
    ViewData["Title"] = "";
}
<nav class="navbar navbar-light">
  <form id="frmSearch" class="form-inline">
    <a class="navbar-brand" href="#">Company</a>
    <input type="hidden" name="nse_csv" id="nse_csv" value="" />
    <input type="hidden" name="nse_total" id="nse_total" value="" />
    <input type="hidden" name="nse_index" id="nse_index" value="" />
    <div id="nse_csv_log" style="font-size:50px;"></div>

    <input type="hidden" name="investing_csv" id="investing_csv" value="" />
    <input type="hidden" name="investing_total" id="investing_total" value="" />
    <input type="hidden" name="investing_index" id="investing_index" value="" />
    <div id="investing_csv_log" style="font-size:50px;"></div>

    <input type="hidden" name="technical_csv" id="technical_csv" value="" />
    <input type="hidden" name="technical_total" id="technical_total" value="" />
    <input type="hidden" name="technical_index" id="technical_index" value="" />
    <div id="technical_csv_log" style="font-size:50px;"></div>

    <input type="hidden" name="screener_csv" id="screener_csv" value="" />
    <input type="hidden" name="screener_total" id="screener_total" value="" />
    <input type="hidden" name="screener_index" id="screener_index" value="" />
    <div id="screener_csv_log" style="font-size:50px;"></div>

    <input type="hidden" name="moneycontrol_csv" id="moneycontrol_csv" value="" />
    <input type="hidden" name="moneycontrol_total" id="moneycontrol_total" value="" />
    <input type="hidden" name="moneycontrol_index" id="moneycontrol_index" value="" />
    <div id="moneycontrol_csv_log" style="font-size:50px;"></div>

    <input type="hidden" id="CompanyIDs">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="hidden" id="CategoryIDs">

    <input type="text" name="LastTradingDate" id="LastTradingDate" class="form-control ml-2" placeholder="Last Trading Date" />

    <select id="selYears" class="form-control">
        <option value="0">--Select One--</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="7">7</option>
        <option value="10">10</option>
        <option value="12">12</option>
    </select>

    <input type="text" name="StartDate" id="StartDate" class="form-control ml-2" placeholder="Start Date" />

    <input type="text" name="EndDate" id="EndDate" class="form-control ml-2" placeholder="End Date" />

    <div style="margin-left:10px;float:left;">&nbsp;</div><input type="checkbox" id="chkIsBookMarkCategory">&nbsp;BookMark Category

    <button type="button" class="btn btn-info ml-2" id="lnkRefresh">Refresh</button>
    <button type="button" class="btn btn-success ml-2" id="lnkAddNew">Add</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox" id="chkIsBookMark" checked />&nbsp;&nbsp; Show BookMark
    <button type="button" class="btn btn-primary ml-2" id="lnkNSEDownload">NSE</button>
    <button type="button" id="btnNSEUpdateCSV" class="btn btn-danger btn-sm" style="display:none;">NSE CSV UPDATE</button>
    <button type="button" class="btn btn-primary ml-2" id="lnkInvestingDownload">Investing.Com</button>
    <button type="button" id="btnInvestingUpdateCSV" class="btn btn-danger btn-sm" style="display:none;">Investing CSV UPDATE</button>
    <button type="button" class="btn btn-danger ml-2" id="lnkScreenerDownload">Screener.Com</button>
    <button type="button" id="btnScreenerUpdateCSV" class="btn btn-danger btn-sm" style="display:none;">Screener CSV UPDATE</button>

    <button type="button" class="btn btn-info ml-2" id="lnkMoneyControlDownload">Money Control</button>
    <button type="button" id="btnMoneyControlUpdateCSV" class="btn btn-danger btn-sm" style="display:none;">MoneyControl CSV UPDATE</button>
  </form>
</nav>
<div class="clearfix">&nbsp;</div>
<table class="table table-hover" id="tblCompany">
  <thead>
    <tr>
      <th></th>
      <th sortname="CompanyName">Company</th>
      <th sortname="Symbol">Symbol</th>
      <th sortname="MoneyControlSymbol">MC Symbol</th>
      <th sortname="cf.MarketCapital">Market Capital</th>
      <th sortname="InvestingUrl">Investing Url</th>
      <th sortname="LastTradingDate">LastTradingDate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="row">
    <div class="col">
        <div class="d-inline">
            Rows
        </div>
        <div class="d-inline">
            <select id="rows2" name="rows2" class="form-control d-inline form-control-sm" style="width:100px;">
            </select>
        </div>
    </div>
    <div class="col">
        <div class="d-inline">
            <span id="paging_status"></span>
        </div>
    </div>
    <div class="col">
        <div class="pull-right">
          <nav aria-label="Page navigation example">
              <ul class="manual-pagination pagination justify-content-end">
              </ul>
           </nav>
        </div>
    </div> 
</div>
<div class="modal fade bd-example-modal-lg" id="modalView" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="max-width:99%">
    <div class="modal-content"> 
    </div>
  </div>
</div>
@section scripts{
 <script src="~/js/Company.js" asp-append-version="true"></script>
 <script type="text/html" id="grid-template">
    {{each(i,row) rows}}
    <tr id="tr${CompanyID}">
        <td>
            <i class="isbookmark-change fa {{if row.IsBookMark}}fa-star{{else}}fa-star-o{{/if}}" style="color:red;cursor:pointer;font-size:16px;"></i>
            <input type="hidden" id="hdnCompanyID" value="${CompanyID}" />
        </td>
        <td class="edit-row">${CompanyName}</td>
        <td>${Symbol}</td>
        <td>${MoneyControlSymbol}</td>
        <td>${formatNumber(MarketCapital)}</td>
        <td>${InvestingUrl}</td>
        <td>${formatDate(LastTradingDate)}</td>
        <td>
            <i class="fa fa-pencil edit-row">&nbsp;</i>
            <i class="fa fa-remove ml-3 delete-row">&nbsp;</i>
            <i class="fa fa-eraser ml-3 delete-price-row">&nbsp;</i>
            <a href="/CompanyFundamental?id=${CompanyID}" target="_blank"><i class="fa fa-search ml-3">&nbsp;</i></a>
            <input type="hidden" id="CompanyID" value="${CompanyID}">
        </td>
    </tr>
    {{/each}}
</script>
<script type="text/html" id="modal-company-template">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">${CompanyName}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="columnchart_material_${rnd}"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</script>
<script type="text/html" id="edit-template">
    {{each(i,row) rows}}
    <tr id="trEdit${CompanyID}">
        <td colspan="4">
            <form id="frm${CompanyID}" onsubmit="return false">
                <div class="form-row">
                    <div class="form-group col">
                    <label>Name</label>
                    <input type="text" class="form-control" name="CompanyName" placeholder="Name" value="${CompanyName}">
                    </div>
                    <div class="form-group col">
                    <label>Symbol</label>
                    <input type="text" class="form-control" name="Symbol" placeholder="Symbol" value="${Symbol}">
                    </div>
                    <div class="form-group col">
                    <label>Money Control Symbol</label>
                    <input type="text" class="form-control" name="MoneyControlSymbol" placeholder="Money Control Symbol" value="${MoneyControlSymbol}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Investing Url</label>
                    <input type="text" class="form-control" name="InvestingUrl" placeholder="Url" value="${InvestingUrl}">
                </div>
                <div class="form-group">
                    <label for="inputAddress">Money Control Url</label>
                    <input type="text" class="form-control" name="MoneyControlUrl" placeholder="Url" value="${MoneyControlUrl}">
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="chkIsArchive" value="true" {{if IsArchive==true}}checked{{/if}}>
                        <label class="form-check-label">
                            Archive
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="chkIsBookMark" value="true" {{if IsBookMark==true}}checked{{/if}}>
                        <label class="form-check-label">
                            Bookmark
                        </label>
                    </div>
                </div>
                <input type="hidden" id="CompanyID" name="CompanyID" value="${CompanyID}">
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                <button type="button" id="btnCancel" class="btn btn-danger ml-2">Cancel</button>
            </form>
        </td>
    </tr>
    {{/each}}
</script>
}
